server:
  port: 7001
spring:
  cloud:
    config:
      uri: http://localhost:4002
      username: root
      password: 12345
  application:
    name: requisition-service
  profiles:
    active: development